<!DOCTYPE html>
<html ng-app="HotelApp" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="./node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="./node_modules/bootstrap/dist/js/jquery.min.js"></script>
    <script src="./node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="./node_modules/angular/angular.min.js"></script>
    <script src="app.js"></script>
    <script src="main_ctrl.js"></script>
    <script src="main_srv.js"></script>
</head>
<body background="http://localhost:63342/webapp/img/background.jpg">
<div ng-controller="MainCtrl">
    <div ng-init="init()">
        <!--{{test}}-->
        <div class="row col-md-offset-1">
            <div class="col-md-11">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <div class="container">
                        <label class="col-md-1">Гостей:</label>
                        <div class="col-md-2">
                        <select ng-model="selected1.guests" class="form-control input-sm">
                            <option ng-repeat="guest in guests">{{guest}}</option>
                        </select>
                            </div>
                        <div class="col-md-2">
                            <select ng-model="selected2" class="form-control input-sm">
                                <option ng-repeat="sel3 in selected2">{{sel3}}</option>
                            </select>
                        </div>
                            </div>
                        <!--<label>Цена:</label>-->
                        <!--<input type="number" ng-model="selected2.price" placeholder="" class="form-control"/>-->
                    </div>
                </div>
            </div>

            <div ng-init="show_all()" class="ng-cloak col-md-11">
                <div class="row">
                    <div ng-repeat="item in items|filter: selected1|orderBy:orderByprice()">
                        <div class="col-md-6">
                            <div class="panel panel-primary">
                                <div class="panel-heading">
                                        <div class="row">
                                            <img class="col-md-6 img-responsive"
                                                 ng-src="{{item.image_src || '/webapp/img/No_image_available.svg'}}">
                                            <label class="col-md-6">Номер: {{item.type}}</label>
                                            <label class="col-md-6">Максимум человек: {{item.guests}}</label>
                                        </div>
                                        <div class="panel-body">
                                            <label class="col-md-6">{{item.price}} $</label>
                                            <button class=" col-md-6 btn btn-default">Забронировать</button>
                                        </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
</body>
</html>